body {
  /* overflow: auto; */
}

.footer-spacer {
  height: 75px !important;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

body {
	background: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)), url('http://img.interempresas.net/fotos/1139333.jpeg');
}

#wrapper {
  min-height: 100%;
}

.header-container {
	padding: 10px 0;
	margin: 0;
	background-color: #F7F7F7;
}

.cable-selector {
	width: 85%;
	padding: 25px;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
	background-color: rgba(255,255,255,.9);
}

.search-save-tabs {
	text-decoration: none;
}

.search-save-tabs > li {
	background-color: transparent !important;
}

.search-tab-anchor {
  background-color: transparent !important;
  border-bottom: 0 !important;
}

a > span {
	 color: rgba(0, 0, 0, 0.5) 
}

.active-tab > a {
	/* background-color: rgba(244, 121, 32, 0.56) !important; */
	background-color: transparent !important;
	/* font-size: 18px !important; */
	font-weight: 700 !important;
	color: rgba(255, 136, 39, 1) !important;
	border-bottom: 2px solid rgba(255, 136, 39, 1) !important; 
	/* border-bottom: 1px !important;
	border-bottom-color: transparent !important;
	border-color: rgba(255, 136, 39, 1) !important; */

}

.active-tab {
	background-color: transparent !important;
}

.custom-nav {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

.custom-nav > .no-padding-left {
  padding-right: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.input-xs {
  height: 22px !important;
  padding: 2px 5px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border-radius: 3px !important;
  max-width: 148px;
  margin-right: 5px;
}

.input-xs:focus {
  border-color: rgba(244, 121, 32, 0.66) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 10px rgba(244, 121, 32, 0.66) !important;
}

#search-form-container {
  padding: 14px 5px !important;
  margin: 0 !important;
}

#search-btn {
  margin-left: 5px;
}

#modal-toggle-btn:hover {
  cursor: pointer !important;
  background-color: lightgrey !important;
}

#nav-container-padding {
  padding-right: 23px;
}

#nav-glyph-btn {
  padding: 10px !important;
}

.glyph-cart-resize {
  font-size: 26px;
  top: 5px !important;
}

.product-grid-header {
  margin: 0 0 5px 0;
}

.filter-container {
  padding-right: 0 !important;
  margin-bottom: 10px;
}

.grid-container {
  padding: 0 !important;
  /* overflow-y: scroll; */
}

.scroll-container {
  overflow-y: auto;
  max-height: 537px;
  padding-left: 1px;
  padding-bottom: 5px;
}

.etherline-scroll-container {
  overflow-y: auto;
  max-height: 700px;
  padding-left: 1px;
  padding-bottom: 5px;
}

.no-results-msg {
  padding: 35px;
  animation: fadeIn ease-in-out 1;
  animation-duration: 1s;
}

.custom-jumbotron {
  background-color: rgb(248,248,248) !important;
	border: 1px solid rgb(231,231,231) !important;
	width: 65%;
	margin: 0 auto;
}

.item-container {
  padding-right: 2px !important;
}

.cable-image {
  text-align: center;
}

.cable-pics {
  max-width: 125px;
}

h2, h3, h4 {
	text-align: center;
}

.tool-header > h2 {
	margin: 0;
}

.content {
	padding-top: 20px;
}

.cat-list {
  margin: 0 auto;
}

.bus-type > label {
  font-size: 11px;
  font-weight: normal;
}

.filter-collapse-container {
	border-bottom: 2px solid rgba(128, 126, 126, 0.25)
}

.fast-connect, .fast-connect .glyphicon-margin {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  -webkit-transition: max-height 1s;
  transition: 1s all;
    
}

.fast-connect.hide-fast-connect, .fast-connect.hide-fast-connect .glyphicon-margin {
  visibility: visible;
  max-height: 50px;
  opacity: 1;
}

/* .attribute-container {
  border-bottom: 2px solid #e9e9e9;
  margin-bottom: 10px;
} */

.glyphicon-margin {
	margin-right: 20px;
}

.span-margin {
	margin-left: 5px;
	width: 100%;
}

.filter-header {
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 5px;
	padding-top: 5px;
}

.attribute-list {
  list-style-type: none;
  font-size: 12px;
  padding-left: 5px;
  max-height: 95px;
  overflow-y: auto;
}

.attribute-list > div {
	border: 1px solid transparent;
}

.selected-attribute {
	border: 1px solid #f47920 !important;
	background-color: #fbbe92;
	border-radius: 3px;
	box-sizing: border-box;
	width: 100%
}

.attribute-list > li {
  padding: .5px 0;

}

.bus-type > label {
  width: 100%;
  padding-left: 2px;
}

.bus-type:hover {
  border: 1px solid rgba(169, 165, 158, 0.45);
  border-radius: 3px;
}

 li > h6 {
	margin: 2px 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.product-grid-list-item {
  list-style-type: none;
  max-height: 128px;
  font-size: 11px;
  /* margin-bottom: 10px; */
  padding: 0px !important;
  margin-left: -1px;
  margin-bottom: -1px;
  animation: fadeIn ease-in-out 1;
  animation-duration: .5s;
} 

.cat-selection-header {
  text-align: center;
}

.cat-selection-header > h4 {
  margin-top: 15px;
  color: rgba(115, 115, 115, .88);
}

#form-table {
  margin: 0 auto;
}

legend {
  margin-bottom: 0 !important;
  margin-left: 10px;
  border-bottom: 0 !important;
  padding: 0 4px !important;
  width: initial !important;
}

fieldset {
  border: 1px solid lightgrey !important;
}

td {
  padding: 2px !important;
}

.form-label {
  text-align: right;
  padding-right: 5px;
}

.modal-grid {
  padding: 0 25px !important;
}

.modal-grid-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.modal-grid-list > .button-label {
  border: 0 !important;
}

.modal-grid-list-item {
  list-style-type: none;
  max-height: 128px;
  font-size: 11px;
  /* margin-bottom: 10px; */
  /* padding: 2px 2px !important; */
  padding: 0 !important;
}

.glyph-remove {
  font-size: 25px;
  position: absolute !important;
  bottom: 10px;
  left: 5px;
  top: 83px !important;
  color: rgba(197, 0, 0, .25);
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}

.glyph-remove:hover {
  color: rgba(197, 0, 0, .9);
}

.col-centered {
	margin: 0 auto;
}

.button-label > input[type=checkbox], input[type=radio] {
  margin: 0 !important;
  position: absolute;
  height: 0px;
}

.inner-list {
  margin: 4px 0 0 1px;
  min-height: 104px;
}

.button-label {
	font-weight: normal !important;
	width: 100%;
	height: 100%;
  border: 1px solid rgba(169, 165, 158, 0.45);
  margin-bottom: 0;
  font-size: 11px;
}

.product-grid-list-item > ul, label > ul {
  list-style-type: none;
  padding: 0px;
  text-align: center;
}

/* .product-checkbox:checked + .button-label {
	border: 1px solid rgba(255, 136, 39, 0.86);
} */

.button-label:hover {
  /* border: 1px solid rgba(169, 165, 158, 0.95); */
  cursor: pointer;
  box-shadow: inset 0 0 45px 1px lightgrey;
}

 .active-selected-part {
  box-shadow: inset 0 0 45px 5px rgba(255, 136, 39, 0.66);
	border: 1px solid rgba(255, 136, 39, 0.66) !important;
}

.active-selected-part:hover {
  box-shadow: inset 0 0 45px 5px rgba(255, 136, 39, 1);
	border: 1px solid rgba(255, 136, 39, 1) !important;
}

.modal-selected-part {
  box-shadow: inset 0 0 45px 5px rgba(255, 136, 39, 0.66);
	border: 1px solid rgba(255, 136, 39, 0.66) !important;
}


.product-img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #b9b6b6;
}

.selected {
	background-color: rgba(255, 136, 39, 0.86) !important;
	border: 1px solid rgb(51, 51, 51) !important;
}

.btn-default:hover {
  background-color: #ffffff;
  border: 1px solid rgba(255, 136, 39, 0.86);
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: rgba(255, 136, 39, 0.86);
    border-color: #adadad;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn-default.focus, .btn-default:focus {
    color: #333;
    background-color: #ffffff; 
    border-color: #ccc;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333 !important;
    /* background-color: rgba(255, 136, 39, 0.86) !important;  */
    border-color: #8c8c8c !important;
}

.not-valid-selection {
	background-color: rgba(177, 175, 175, 0.51) !important;
	color: rgba(0,0,0,.53) !important;
	border-color: rgba(169, 165, 158, 0.45) !important;
}

.footer {
	/*position: relative;*/
	bottom: 0;
	height: 60px;
	background-color: #272727;
	width: 100vw;
}

.footer-text {
	padding-top: 20px;
}

.fa {
	color: black;
	font-size: 3em;
}

input[type=checkbox], input[type=radio] {
	visibility: hidden;
}

.filter-toggle-btn {
  display: none !important;
}

#mobile-cart-btn {
  margin: 0 !important;
  border-radius: 0 !important;
  border: 0 !important;
}

#mobile-nav {
  min-height: 39px !important;
  margin-bottom: 0 !important;
}

#mobile-filters-btn {
  height: auto !important;
  padding: 4px !important;
  box-sizing: border-box !important;
  font-size: 21px !important;
}

#mobile-filters-btn > span {
  color: rgb(51, 51, 51) !important;
}

.glyph-text {
	color: black;
	font-size: 13px;
	display: block;
	margin-top: -6px;
}

.glyph-search-resize {
  font-size: 21px !important;
  top: 4px !important;
}

.info-btn {
	font-size: 16px;
	top: 6px !important;
	float: left
}

.list-group-item > h5 {
	text-align: left;
	font-weight: bold;
}

.search-form-height {
  height: 0px !important;
}

.hide-non-mobile {
  display: none;
}

.modal-form-btns {
	padding-top: 15px;
}

#tel-format {
	color: #d3d3d3;
}

#bus-info-btn {
	top: 5px !important;
}

#application-info-btn {
	top: 2px !important;
}

/*========== Media Queries ==========*/

 /* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  #nav-container-padding {
    padding-right: 21px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
  .hide-non-mobile {
    display: inline;
  }
  .header-container {
    display: none;
  }
  .content {
    padding: 0 !important;
  }
  .cable-selector {
    height: 100%;
    width: 100vw;
    border-radius: 0;
    padding: 0;
  }
  .tool-header {
		display: none;
  }
  .mobile-tool-header > h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  .no-padding-left {
    padding-left: 15px !important;
  }

  #nav-container-padding {
    padding-right: 19px;
  }
  .scroll-container {
    padding-right: 17px
  }
  /* .custom-nav > .no-padding-left {
    padding-right: 15px !important;
  } */

	.custom-nav {
		display: none;
	}
	.input-xs {
		display: inline !important;
	}
	.glyph-cart-resize {
		font-size: 22px;
		top: 3px !important;
	}
  .filter-container {
    padding-right: 15px !important;
	}
  .glyph-remove {
    font-size: 25px;
    position: absolute !important;
    bottom: 10px;
    left: 5px;
    top: 83px !important;
    color: rgba(197, 0, 0, .85);
  }
  #form-table {
    font-size: 12px;
  }
  .header-img {
    max-width: 50% !important;
    margin-top: 9px;
  }
  .filter-toggle-btn {
    display: inline-block !important;
  }
  .filter-container {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height .5s ease-out;
    transition: max-height .5s ease-out;
  }
  .filter-container.mobile-filter {
    /* visibility: visible; */
    max-height: 900px;
    /* opacity: 1; */
    -webkit-transition: max-height .5s ease-in;
    transition: max-height .5s ease-in;
  }
  .search-container {
		background-color: #f8f8f8;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height .5s ease-out;
    transition: max-height .5s ease-out;
  }
  .search-container.search-filter {
    max-height: 200px;
    -webkit-transition: max-height .5s ease-out;
    transition: max-height .5s ease-in;
  }

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .content {
    padding-top: 15px;
  }

	.footer-text {
		font-size: 11px;
	}

  .footer {
    position: relative;
    margin-top: 15px;
  }

  legend {
    font-size: 16px !important;
    font-weight: bold !important;
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
		
}